
<div class="bg-white border" *ngIf="perfil$ | async as perfil">
  <div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
      <small>
        <p class="text-left-break-word">Editar Perfil</p>
      </small>

      <form class="form mt-4 d-grid gap-2 mx-auto" #loginForm="ngForm">
        <div class="form-group">
          <input
            class="form-control"
            placeholder="Nome"
            [(ngModel)]="perfil.nome"
            name="nome"
          />
        <div>
          <input
            class="form-control"
            mask = "000.000.000-00"
            placeholder="CPF"
            [(ngModel)]="perfil.cpf"
            formControlName="cpf"
            required
          />
        </div>
          <div>
          <input
            class="form-control"
            placeholder="Cidade"
            [(ngModel)]="perfil.cidade"
            formControlName="cidade"
            required
          />
        </div>
          <div>
            <input
            class="form-control"
            placeholder="UF"
            [(ngModel)]="perfil.uf"
            formControlName="uf"
            required
          />
          </div>
          <div>
            <input
            class="form-control"
            placeholder="Compras"
            [(ngModel)]="perfil.compras"
            formControlName="compras"
          />
          </div>
        </div>
        <button class="btn btn-primary btn-block">Alterar</button>
        <button class="btn btn-primary btn-block">Cancelar</button>
      </form>
    </div>
  </div>
</div>
