<h4 class="text-center">Registre-se</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group">
    <input
      placeholder="Nome Completo"
      class="form-control"
      formControlName="nome"
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('nome')?.errors &&
        novoUsuarioForm.get('nome')?.touched
      "
      mensagem="Nome incorreto"
    >
    </app-mensagem>
  </div>

  <div class="form-group">
    <input
      type="date"
      placeholder="Data de Nascimento"
      class="form-control"
      formControlName="dataNascimento"
    />
  </div>

  <div class="form-group">
    <input
      placeholder="Cpf"
      class="form-control" [dropSpecialCharacters] ="true"
      mask="000.000.000-00"
      formControlName="cpf"
    />
  </div>

  <div class="form-group">
    <input placeholder="Cidade" class="form-control" formControlName="cidade" />
  </div>

  <div class="form-group">
    <input
      placeholder="UF"
      class="form-control"
      mask="SS"
      formControlName="uf"
    />
  </div>

  <div class="form-group">
    <input
      type="email"
      placeholder="E-mail"
      class="form-control"
      formControlName="email"
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.required &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="Email Obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.email &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail no formato incorreto"
    >
    </app-mensagem>
  </div>

  <div class="form-group">
    <input
      type="password"
      placeholder="Senha"
      class="form-control"
      formControlName="senha"
    />
  </div>

  <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>Já é um usuário?<a [routerLink]="['']"> Faça login!</a></p>
