<p class="text-center text-muted" *ngif="!eventos.length"> Desculpe nã há eventos</p>

<div class="row">

  <div *ngFor="let evento of eventos" class="col-md-6 mb-2">
    <a [routerLink]="['/eventos',evento.id]"></a>
    <app-cartao>
      <app-evento [url]='evento.url'
      [nome]="evento.nome"></app-evento>
      <i aria-hidden="true" class=" bi bi-currency-dollar fa-1x mr-2" >{{evento.valor}}</i>
      <i aria-hidden="true" class="bi bi-calendar-date fa-1x mr-2"> {{evento.data}}</i>
    </app-cartao>
  </div>

</div>
